
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>String Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="content">
        <h1 style="text-align: center">String Calculator</h1>
        <h1 style="text-align: center">Enter Comma Seperated Numbers</h1>
        <div class="form">
            <form id="calcForm" action="/math" method="POST">
                <label for="inputString"></label>
                <textarea id="inputStringBox" name="inputStringBox" placeholder="Type your message here" rows="10" cols="50"></textarea>
                <input type="submit" value="Calculate">
            </form>
        </div>
    </div>
   <body>
</html>